body {
  font-family: sans-serif;
  background-image: url('https://wallpaper-house.com/data/out/6/wallpaper2you_123688.jpg');
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.container {
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
}

.form {
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

form div {
  margin: 1em;
  display: inline-block;
}

li {
  list-style-type: none;
}

.imageSize {
  height: 80%;
  width: 100%;
}

.child {
  padding-top: 25px;
  padding-bottom: 25px;
}
